<!DOCTYPE html>
<html>
<head>
	<title>Team Images</title>
	<style>
		
	</style>
    <link rel="stylesheet" href="./../static/css/style2.css">
</head>
<body>
  <div style="text-align:center;">
    <h2>
      
      <div class="title"> Meet the Team</div>
    </h2>
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
        <figure style="margin-right: 25px;">
            <img src="./../static/css/t1.png" alt="Team Member 1" style="width: 200px; height: 200px;">
            <figcaption>Yoishik</figcaption>
        </figure>
        <figure style="margin-right: 25px;">
            <img src="./../static/css/t7.png" alt="Team Member 2" style="width: 200px; height: 200px;">
            <figcaption>Ritvik</figcaption>
        </figure>
        <figure style="margin-right: 25px;">
            <img src="./../static/css/t3.png" alt="Team Member 3" style="width: 200px; height: 200px;">
            <figcaption>Arrad</figcaption>
        </figure>
    </div>
    <div style="display: flex; flex-wrap: wrap; justify-content: center; margin-top: 25px;">
        <figure style="margin-right: 25px;">
            <img src="./../static/css/t4.png" alt="Team Member 4" style="width: 200px; height: 200px;">
            <figcaption>Tara</figcaption>
        </figure>
        <figure style="margin-right: 25px;">
            <img src="./../static/css/t5.png" alt="Team Member 5" style="width: 200px; height: 200px;">
            <figcaption>Mao</figcaption>
        </figure>
        <figure style="margin-right: 25px;">
            <img src="./../static/css/t2.png" alt="Team Member 6" style="width: 200px; height: 200px;">
            <figcaption>Christina</figcaption>
        </figure>
    </div>
  </div>


  
</body>
</html>

